<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>注册</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/htmleaf-demo.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/default/loginReg.css"/>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../static/scripts/bootstrap/bootstrap.min.js"></script>
    <script src="../static/scripts/bootstrap/bootstrapValidator.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap/bootstrapValidator.min.css"/>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
</head>
<body>
<div class="htmleaf-container">
    <div class="demo form-bg" style="padding: 80px 0;">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <form class="form-horizontal">
                        <span class="heading">新用户注册</span>
                        <div class="form-group">
                            <input type="text" class="form-control" name="userName" placeholder="用户名"/>
                            <i class="fa fa-user"></i>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" placeholder="电子邮件"/>
                            <i class="fa fa-envelope-square"></i>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="password" placeholder="密码"/>
                            <i class="fa fa-lock"></i>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="passwordAgain" placeholder="确认密码"/>
                            <i class="fa fa-lock"></i>
                        </div>
                        <div class="form-group text-right">
                            <span id="returnMessage" class="glyphicon"></span>
                            <button type="submit" class="btn btn-default" id="submitBtn">注册</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var form = $('form');
    /*
     * 表单校验
     */
    $(document).ready(function () {
        $(form).bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove'
            },
            fields: {
                userName: {
                    message: '用户名验证失败',
                    validators: {
                        notEmpty: {
                            message: '用户名不能为空'
                        },
                        stringLength: {
                            min: 6,
                            max: 18,
                            message: '用户名长度必须在6到18位之间'
                        },
                        regexp: {
                            regexp: /^[a-zA-Z0-9_]+$/,
                            message: '用户名只能包含大写、小写、数字和下划线'
                        }
                    }
                },
                email: {
                    validators: {
                        notEmpty: {
                            message: '邮箱不能为空'
                        },
                        emailAddress: {
                            message: '邮箱地址格式有误'
                        }
                    }
                },
                password: {
                    validators: {
                        notEmpty: {
                            message: '密码不能为空'
                        }
                    }
                },
                passwordAgain: {
                    validators: {
                        notEmpty: {
                            message: '确认密码不能为空'
                        }
                    }
                }
            }
        });
    });

    /**
     * 注册
     */
    $("#submitBtn").click(function () {
        // 进行表单验证
        var bv = form.data('bootstrapValidator');
        bv.validate();
        if (bv.isValid()) {
//            alert(form.serialize());

            // 获值
            var name = $("input[name='userName']").val();
            var email = $("input[name='email']").val();
            var password = $("input[name='password']").val();
            var passwordAgain = $("input[name='passwordAgain']").val();

            // 校验密码
            if (password !== passwordAgain) {
                $("#returnMessage").hide().html('<label class="label label-danger">密码不一致</label>&nbsp;&nbsp;').show(300);
                return;
            }

            // 发送ajax请求
            $.ajax({
                type: 'post',
                url: 'http://localhost:8080/regSub',
                data: {
                    name: name,
                    email: email,
                    password: password
                },
                beforeSend: function (XMLHttpRequest) {
                    alert("beforeSend");
                    // 禁用按钮防止重复提交
                    $('button').addClass('disabled'); // 禁用按钮防止重复提交
                },
                success: function (data, status) {
                    if (data.retCode === '0000') {
                        $('button').addClass('disabled'); // 禁用按钮防止重复提交
                        $("#returnMessage").hide().html('<label class="label label-success">\'' + data.msg + '\'</label>&nbsp;&nbsp;').show(300);
                    } else {
                        $("#returnMessage").hide().html('<label class="label label-danger">\'' + data.msg + '\'</label>&nbsp;&nbsp;').show(300);
                    }
                },
                complete: function (XMLHttpRequest, textStatus) {
                    alert("complete");
                    $("#submitBtn").removeAttr("disabled");
                },
                error: function (status) {
                    alert(status);
                    $("#returnMessage").hide().html('<label class="label label-danger">注册失败</label>&nbsp;&nbsp;').show(300);
                }
            });
        }
    });
</script>
</body>
</html>